@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shoes {
    height: 100vh;
    position: relative;
}

.shoes .shoes-info {
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: block;
    width: 50vw;
}

.shoes-info img {
    width: 100%;
}

.shoes h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 2vw;
    line-height: 3vw;
    padding: 0 16%;
}

#shoe-1 {
    background-color: #E13E21;
    color: #FEFE4C;
}

#shoe-2 {
    background-color: #417C23;
    color: #FEFE4C;
}

#shoe-3 {
    background-color: #FEFE4C;
    color: #417C23;
}